{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}



{% block title %}
Поиск
{% endblock %}



{% block content %}
<form method="GET" name="search">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
    <table>
        <tr>
            <td>
                Заголовок 
            </td>
            <td>
                Автор 
            </td>
            <td>
                Дата создания 
            </td>
            <td>
                Текст статьи 
            </td>
        </tr>
        {% for post in filter.qs %}
            <tr>
                <td>
                    {{ post.title|censor:'*'}}
                </td>
				<td>
                    {{ post.author.authorUser}}
                </td>
                <td>
					{{ post.dateCreation|date:'d-m-Y H:i'}}
                </td>
                <td>
                    {{ post.text|censor:'*'|truncatewords:7}}
                </td>
            </tr>
        {% endfor %}
        </table>

        {% if is_paginated %}
     
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}
     
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
     
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}
